@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rufina:wght@400;700&display=swap');
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 .p-style{
  font-family: 'Lato', sans-serif;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.625;
}

@media (min-width: 640px) {
  .text-style {
    font-size: 1rem;
  }
}
}
@theme {
  /* colors */
  --color-background:#233000;
  --color-foreground: #FFFFFF;
  --color-card-foreground:#000000;
  --color-muted-foreground: #F0F0F0;
  --color-card-muted: #4D4D4D;


  /* Fonts */
  --font-Rufina : "Rufina", serif;
  --font-Lato:"Lato", sans-serif;
  --font-Inter:"Inter", sans-serif;
}


 

